/*Universal Styles*/
html {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  background-color: white;
}

body{
  line-height: 1.4rem;
}

/*Header*/

header .Header{
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

header .Logo{
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

#colmar {
  font-weight: bold;
}


header .Logo img{
  padding-left: 24px;
  height: 4rem;
}

#academy{
  height: 2.5rem;
}

nav li{
  display: inline;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-left: 8px;
  padding-right: 8px;
}

/*Banner*/

.Container-Banner {
  width: 100%;
  display: flex;
  background-color: rgba(23.9, 3.1, 11, 10.25);
}

.Banner-Image {
  width: 60%;
  display: flex;
  margin: 24px 32px;
}

.Learn-Something {
  display: inline-flex;
  padding-right: 24px;
  padding-left: 24px;
  text-align: left;
  color: gold;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  max-width: 40%;
  line-height: 3rem;
  margin-top: 250px;
}

.Start-here{
  display: block;
  justify-content: center;
  color: maroon;
  font-size: 1.5rem;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

button {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  margin: 100px;
  width: 300px;
  height: 70px;
  background-color: gold;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  border-radius: 4px;
}

/*Orientation*/

.Container{
  display: flex;
  width: 100%;
  margin: auto;
  background-color: rgba(23.9, 3.1, 11, 10.25);
  border: 1px solid black;

}

.Keep-Practicing {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
  background-color: rgba(23.9, 3.1, 11, 10.25);
  margin-left: 24px;
  margin-bottom: 32px;
  text-align: left;
  width: 60%;
  margin-top: 32px;
  border: 1px solid black;
}

#Quote {
  font-size: 2rem;
  color: gold;
  line-height: 3rem;
  width: 41%;
}

#Emanuel{
  font-size: 1.5rem;
  color: gold;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
  text-align: left;
  width:60%;
}


.Reading-Image img,
#Quote{
  padding-top: 64px;
  padding-bottom: 32px;
  margin-left: 32px;
  border: 1px solid black

}



.Sidebar{
  display: flex;
  color: gold;
  font-size: 2rem;
  flex-direction: column;
  text-align: left;
  line-height: 3rem;
  margin: auto;
  padding-top: 32px;
  width: 65%;
  justify-content: center;
border: 1px solid black;
}

#Side{
  margin-left: -41%;
  margin-top: .6%;
}

.Sidebar img {
  height: auto;
  max-width: 35%;
  padding: 16px;
  margin-top: : auto;
  overflow: hidden;
}

.Side-Info, .Side-Info img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  border: 1px solid black;
}

.Text{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  justify-content: center;
  width: 60%;
}

.Text h3 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.Text p{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.Text a{
  display: flex;
  justify-content: space-between;
  color: gold;
  text-decoration: underline;
}

/*Learning Section*/

.Learning-Container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: gold;
  padding-left: 72px;
  padding-right: 72px;
  background-color: rgba(23.9, 3.1, 11, 10.25);
  border: 1px solid black;
}

.Learning-Container h1{
  font-size: 2.5rem;
  font-weight: bold;
  justify-content: center;
  padding: 32px;
}

.Learning-Info{
  display: inline-flex;
  background-color: rgba(23.9, 3.1, 11, 10.25);
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  border: 1px solid black;

}


.class{
  display: inline-block;
  vertical-align: baseline;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
}

.class h4{
  font-size: 1.5rem;
}

.class p,
.class h4{
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  align-items: left;
  justify-content: left;
}


.class,
.class h4,
.class p,
.course {
  width: auto;
  text-align: left;
  color: gold;
  border: 1px solid black;
}

.class img{
  width: auto;
  padding: 0;
  border: 0;
  border: 1px solid black;
}

.class img,
.class h4,
.class p,
.course {
margin-top: 1rem;
margin-bottom: 1rem;
}

/*Thesis Section*/

.Thesis{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 32px;
  position: relative;
  top: 4.2rem;
  background-color: rgba(23.9, 3.1, 11, 10.25);
  color: gold;
}

.flex-content{
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 2rem 1.5rem 0 1.5rem;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 60%;
}

video {
  width: 60%;
  height: auto;
}

.Words {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

.Fisma-Sidebar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
}

.Fisma-Sidebar img{
  width: 35%;
  height: auto;
  margin: 0.5rem;
}
